{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sociedad Amigos del Pais</title>

    <link rel="stylesheet" href= "{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-zR2Th/03ns5/I8AcdNR9F6qOZ7+c4Qhpn0y86gZlanGoQzcg+s+g/GqogbljQRGyGioS2PZU/iWhu03xFbJ0N4"  crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>



<nav class="nav-bar">
<div class="container">
    <ul class="menu">
        <li><a href="/search">Buscar</a></li>
        <li><a href="/about">Acerca de</a></li>

        {% if request.session.role == 'ADMIN' %}
            <li><a href="/admin">BASE DE DATOS</a></li>
            <li><a href="/insert">Insertar</a></li>
            <li><a href="/pending">Pendientes</a></li>
    {% else %}
    {% if request.session.role == 'EDITOR' %}
        <li><a href="/insert">Insertar</a></li>
    {% else %}
    {% if request.session.role == 'REVISOR' %}
        <li><a href="/pending">Pendientes</a></li>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if not user.is_authenticated %}
        <li><a href="/sign_up">Registrarse/Autenticarse</a></li>
    {% else %}
        <li><a href="/favorites">Favoritos</a></li>
        <li><a href="/log_out">Salir</a></li>
    {% endif %}



    </ul>
</div>
</nav>

{% if messages %}
   {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow fade show"  role="alert">
    <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
    {{ message|safe }}
    </div>
    {% endfor %}
{% endif %}

<div class="page">
    {% block content %}
    {% endblock %}
</div>
</body>

<script src="{% static 'dnd.js' %}"></script>
</html>