{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sociedad Amigos del Pais</title>

    <link rel="stylesheet" href= "{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-zR2Th/03ns5/I8AcdNR9F6qOZ7+c4Qhpn0y86gZlanGoQzcg+s+g/GqogbljQRGyGioS2PZU/iWhu03xFbJ0N4"  crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>



<div class="bar">

    <a href="/search">Buscar</a>

    {% if request.session.role == 'ADMIN' %}
        <a href="/admin">BASE DE DATOS</a>
        <a href="/insert">Insertar</a>
        <a href="/pending">Pendientes</a>
    {% else %}
    {% if request.session.role == 'EDITOR' %}
        <a href="/insert">Insertar</a>
    {% else %}
    {% if request.session.role == 'REVISOR' %}
        <a href="/pending">Pendientes</a>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if not user.is_authenticated %}
    <a href="/sign_up">Registrarse/Autenticarse</a>
    {% else %}
    <a href="/log_out">Salir</a>
    {% endif %}

</div>

<div class="page">
    {% block content %}
    {% endblock %}
</div>
</body>

<script src="{% static 'dnd.js' %}"></script>
</html>