.bar{
    background-color: lightskyblue;
    color: black;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    a {
        color: #333;
        text-decoration: none;
        font-size: large;
    }
    a:hover {
        color: #000;
        text-decoration: underline;

    }
}

.sign{
/*    place the form in the middle of the page*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;

/*center the inputs inside the div*/
    input{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid gray;
    /*    the input is touching the risht margin of the div*/
        box-sizing: border-box;

    }

    .btnn{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: white;
        cursor: pointer;
        color: black;
        font-size: medium;
        box-sizing: border-box;
    }

    .btnn:hover{
        background-color: lightskyblue;
        text-decoration: underline;
        font-size: large;
        transition: font-size 0.5s;
    }
}

.filter_block{
/*    make it a horizontal block on the top side of the screen*/
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;


    form{
        input{
            padding: 10px;
            border-radius: 5px;
            border: 1px solid gray;
            box-sizing: border-box;
            margin-left: auto;
        }

        .kw{
            width: 500px;
        }

        button{
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: white;
            cursor: pointer;
            color: black;
            font-size: medium;
            box-sizing: border-box;
            width: 100px;
        }

        button:hover{
            background-color: lightskyblue;
            text-decoration: underline;
            text-shadow: grey 0 0 10px;
            transition: text-shadow 0.5s;
        }
    }

}

.doc{
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    h2{
        font-style: italic;
        font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    }
    a {
        color: #333;
        text-decoration: none;
        font-size: large;
    }
    a:hover {
        color: #000;
        text-decoration: underline;

    }
}

.dnd{
    /*center all items*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input.title{
        /*width: 400px;*/
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid gray;
        box-sizing: border-box;
    }

    h1{
        text-align: center;
    }

    #drop-area{
        width: 400px;
        height: 200px;
        margin: 40px auto;
        text-align: center;
        line-height: 200px;
        border: 2px dashed #ccc;
        cursor: pointer;
    }

    #preview-container{
        text-align: center;
    }

    #drop-area.drag-over{
        background-color: #eee;
    }

    .preview-image{
        object-fit: fill;
        width: 100px;
        height: 200px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

    button{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: white;
        cursor: pointer;
        color: black;
        font-size: medium;
        box-sizing: border-box;
        width: 100px;
        margin: auto auto;

    }

    button:hover{
        background-color: lightskyblue;
        text-decoration: underline;
        text-shadow: grey 0 0 10px;
        transition: text-shadow 0.5s;
    }
}