
{% extends 'base/main.html' %}
{% block content %}
   {% load static %}

    <div class="login-container">
        <form class="login-form" method="post" action="/log_in/">
            {% csrf_token %}
            <h2>Autenticarse</h2>
            <div class="input-group">
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Contraseña</label>
            
                    <input type="password" id="password" name="password" required>



            </div>
            <button type="submit">Autenticarse</button>
            <p><a href="/sign_up/">No tienes cuenta? Registrate</a></p>
        </form>
    </div>



{% endblock %}
